colors.css
Modules
ModulesCustom
ModulesGroups
ModulesVertical
ModulesWorkspaces
UserModules
configs/\[BOT & Left] SouthWest
configs/\[BOT & Right] SouthEast
configs/\[BOT] Camellia
configs/\[BOT] Chrysanthemum
configs/\[BOT] Default Laptop
configs/\[BOT] Gardenia
configs/\[BOT] Peony
configs/\[BOT] Simple
configs/\[BOT] Sleek
configs/\[LEFT] WestWing
configs/\[LEFT] WestWing v2
configs/\[RIGHT] EastWing
configs/\[RIGHT] EastWing v2
configs/\[TOP & BOT] SummitSplit
configs/\[TOP & BOT] SummitSplit v2
configs/\[TOP & Left] NorthWest
configs/\[TOP & Right] NorthEast
configs/\[TOP] 0-Ja-0
configs/\[TOP] 0-Ja-0 Been modified
configs/\[TOP] Arrow
configs/\[TOP] Camellia
configs/\[TOP] Chrysanthemum
configs/\[TOP] Default Laptop
configs/\[TOP] Default Laptop (old v1)
configs/\[TOP] Default Laptop (old v2)
configs/\[TOP] Default Laptop (old v3)
configs/\[TOP] Default Laptop (old v4)
configs/\[TOP] Everforest
configs/\[TOP] Gardenia
configs/\[TOP] Minimal - Long
configs/\[TOP] Minimal - Short
configs/\[TOP] Peony
configs/\[TOP] Simple
configs/\[TOP] Simpliest
configs/\[TOP] Sleek
configs/bintang default
configs/mpris middle
configs/taskbar
configs/window middle
scripts/gen-colors.sh
scripts/switch-power-profile.sh
style/\[0 VERTICAL] \[Catpuccin] Mocha.css
style/\[0 VERTICAL] Golden Noir.css
style/\[0 VERTICAL] Oglo Chicklets.css
style/\[Black & White] Monochrome.css
style/\[Catppuccin] Frappe.css
style/\[Catppuccin] Latte.css
style/\[Catppuccin] Mocha.css
style/\[Colored] Chroma Glow.css
style/\[Colored] Translucent.css
style/\[Colorful] Aurora Blossom.css
style/\[Colorful] Aurora.css
style/\[Colorful] Oglo Chicklets.css
style/\[Colorful] Rainbow Spectrum.css
style/\[Colorful] stolen-style.css
style/\[Dark] Golden Eclipse.css
style/\[Dark] Half-Moon.css
style/\[Dark] Latte-Wallust combined v2.css
style/\[Dark] Latte-Wallust combined.css
style/\[Dark] Purpl.css
style/\[Dark] Wallust Obsidian Edge.css
style/\[Extra] Arrow.css
style/\[Extra] Crimson.css
style/\[Extra] EverForest.css
style/\[Extra] Mauve.css
style/\[Extra] ML4W starter.css
style/\[Extra] Modern-Combined - Transparent.css
style/\[Extra] Modern-Combined.css
style/\[Extra] Neon Circuit.css
style/\[Extra] Prismatic Glow.css
style/\[Extra] Rose Pine.css
style/\[Extra] Simple Pink.css
style/\[Light] Monochrome Contrast.css
style/\[Light] Obsidian Glow.css
style/\[Rainbow] RGB Bordered.css
style/\[Retro] Simple Style.css
style/\[Transparent] Crystal Clear.css
style/\[VERTICAL] \[Catpuccin] Mocha.css
style/\[Wallust Bordered] Chroma Fusion Edge.css
style/\[Wallust Bordered] Chroma Simple.css
style/\[Wallust Transparent] Crystal Clear.css
style/\[Wallust] Box type.css
style/\[Wallust] Chroma Edge.css
style/\[Wallust] Chroma Fusion.css
style/\[Wallust] Chroma Tally V2.css
style/\[Wallust] Chroma Tally.css
style/\[Wallust] Colored.css
style/\[WALLUST] ML4W-modern-mixed.css
style/\[WALLUST] ML4W-modern.css
style/\[Wallust] Simple.css
style/bintang default.css
style/full bar.css
style/islands no transparent.css
style/islands.css
style/catppuccin-themes/frappe.css
style/catppuccin-themes/latte.css
style/catppuccin-themes/mocha.css
style/catppuccin-themes/rgbmocha.css
wallust/colors-waybar.css
